@import "tailwindcss";

#Tasklist::-webkit-scrollbar {
    display: none;        /* Hide default scrollbar */
}

#Tasklist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
